@page
@model Cinematix.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<style>
    .movie-item {
        margin-bottom: 1.5rem;
    }

    .movie-item img {
        width: 100%;
    }

    .movie-item .movie-title {
        padding: .5rem;
        border: 1px solid black;
        text-align: center;
        font-family: sans-serif;
    }
</style>

    <div class="row movie-list"></div>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
        $.ajax({
            type: 'GET',
            url: 'https://api.themoviedb.org/3/discover/movie',
            data: {
                api_key: 'cea80748836f2f4f9f70ce9d4265efa1'
            }
        }).done(function (xhr) {
            console.log(xhr);

            for (let index in xhr.results) {
                let result = xhr.results[index];
                $('.movie-list').append(
                    '<div class="col-lg-3 movie-item">' +
                        '<img src = "http://image.tmdb.org/t/p/w500' + result.poster_path + '" />' +
                        '<div class="movie-title">' + result.title + '</div>' +
                    '</div>'
                );
            }
        });
    });
    </script >

    <p >
    <a asp-page="Create" > Create New</a >
    </p >
    <table class="table" >
    <thead >
    <tr >
    <th >
    @Html.DisplayNameFor(model => model.Movie[0].ImdbId)
    </th >
    <th >
    @Html.DisplayNameFor(model => model.Movie[0].Title)
    </th >
    <th >
    @Html.DisplayNameFor(model => model.Movie[0].Director)
    </th >
    <th >
    @Html.DisplayNameFor(model => model.Movie[0].Cast)
    </th >
    <th >
    @Html.DisplayNameFor(model => model.Movie[0].Description)
    </th >
    <th >
    @Html.DisplayNameFor(model => model.Movie[0].Runtime)
    </th >
    <th >
    @Html.DisplayNameFor(model => model.Movie[0].Rating)
    </th >
    <th >
    @Html.DisplayNameFor(model => model.Movie[0].Genre)
    </th >
    <th >
    @Html.DisplayNameFor(model => model.Movie[0].PegiRating)
    </th >
    <th > </th >
    </tr >
    </thead >
    <tbody >
    @foreach (var item in Model.Movie) {
         <tr >
    <td >
    @Html.DisplayFor(modelItem => item.ImdbId)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.Title)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.Director)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.Cast)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.Description)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.Runtime)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.Rating)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.Genre)
    </td >
    <td >
    @Html.DisplayFor(modelItem => item.PegiRating)
    </td >
    <td >
    <a asp-page="./Edit" asp-route-id="@item.Id" > Edit</a > |
    <a asp-page="./Details" asp-route-id="@item.Id" > Details</a > |
    <a asp-page="./Delete" asp-route-id="@item.Id" > Delete</a >
    </td >
    </tr >
}
    </tbody >
    </table >

